.landing-page-unsigned-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-unsigned-landing-page-unsigned {
  gap: 40px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-unsigned-header-unsigned {
  gap: 35px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-unsigned-header-logo {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page-unsigned-imag-ebabe0ecf3ccc410faf1c05a53b7ee68a1 {
  width: 150px;
  height: 150px;
}
.landing-page-unsigned-header-name {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page-unsigned-text {
  color: rgba(0, 0, 0, 1);
  width: 491px;
  height: auto;
  font-size: 51px;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-header-links {
  width: 482px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.landing-page-unsigned-aboutus {
  gap: 10px;
  height: 39px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-unsigned-about-us {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.landing-page-unsigned-clickable-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page-unsigned-text02 {
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-eparrowdownbold {
  width: 27px;
  height: 25px;
}
.landing-page-unsigned-rules {
  width: 173px;
  height: 150px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-page-unsigned-text04 {
  top: 56px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-news {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.landing-page-unsigned-clickable-frame1 {
  display: flex;
  align-items: center;
}
.landing-page-unsigned-text06 {
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-eparrowdownbold1 {
  width: 27px;
  height: 25px;
}
.landing-page-unsigned-sign-up {
  gap: 10px;
  display: flex;
  padding: 49px 20px;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-unsigned-sign-up-button {
  gap: 10px;
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-unsigned-textbutton {
  gap: 10px;
  display: flex;
  padding: 14px 36px;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-default-buttongreen);
}
.landing-page-unsigned-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-callto-action-join-treasure-trek {
  gap: 147px;
  display: flex;
  padding: 59px 57px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-unsigned-content {
  width: 422px;
  height: 354px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.landing-page-unsigned-textbutton1 {
  gap: 10px;
  top: 297px;
  left: 0px;
  display: flex;
  padding: 14px 36px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-default-buttongreen);
}
.landing-page-unsigned-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text12 {
  top: 188px;
  color: rgba(0, 0, 0, 1);
  width: 422px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 140.625%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text14 {
  color: rgba(0, 0, 0, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 56px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-product-preview-frame {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.landing-page-unsigned-rectangle4 {
  width: 684px;
  height: 347px;
}
.landing-page-unsigned-treasure-map-frame {
  gap: 74px;
  height: 1188px;
  display: flex;
  padding: 40px 71px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.landing-page-unsigned-content1 {
  gap: -105px;
  height: 313px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-unsigned-title-frame {
  gap: 10px;
  width: 787px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.landing-page-unsigned-text16 {
  color: rgba(0, 0, 0, 1);
  width: 787px;
  height: auto;
  font-size: 48px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-subtitle {
  gap: 10px;
  width: 613px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.landing-page-unsigned-text18 {
  color: rgba(0, 0, 0, 1);
  width: 613px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 140.625%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-button-frame {
  gap: 10px;
  height: 70.44104766845703px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-unsigned-textbutton2 {
  gap: 10px;
  height: 70.44104766845703px;
  display: flex;
  padding: 14px 36px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-default-buttongreen);
}
.landing-page-unsigned-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-map-frame {
  gap: 10px;
  width: 1299px;
  height: 721px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  flex-direction: column;
}
.landing-page-unsigned-footer {
  width: 1441px;
  height: 428px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 26, 64, 1);
}
.landing-page-unsigned-divctsectioninnerwrap {
  gap: 40px;
  top: 68px;
  left: 161px;
  width: 1120px;
  display: flex;
  padding: 0 22px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-page-unsigned-readytobeamember {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-unsigned-text22 {
  color: rgba(255, 255, 255, 1);
  width: 327px;
  height: auto;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text24 {
  color: rgba(255, 255, 255, 0.699999988079071);
  width: 391px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-details-frame {
  gap: 58px;
  display: flex;
  align-items: flex-start;
}
.landing-page-unsigned-membership {
  gap: 13px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-unsigned-text34 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 500;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text36 {
  color: rgba(253, 185, 19, 1);
  width: 142px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text38 {
  color: rgba(253, 185, 19, 1);
  width: 98px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text40 {
  color: rgba(253, 185, 19, 1);
  width: 105px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text42 {
  color: rgba(253, 185, 19, 1);
  width: 97px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text44 {
  color: rgba(253, 185, 19, 1);
  width: 129px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-proudly-south-african {
  gap: 13px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-unsigned-text46 {
  color: rgba(255, 255, 255, 1);
  width: 174px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 500;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text48 {
  color: rgba(253, 185, 19, 1);
  width: 57px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text50 {
  color: rgba(253, 185, 19, 1);
  width: 69px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text52 {
  color: rgba(253, 185, 19, 1);
  width: 114px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text54 {
  color: rgba(253, 185, 19, 1);
  width: 35px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text56 {
  color: rgba(253, 185, 19, 1);
  width: 134px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-reports {
  gap: 13px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-unsigned-text58 {
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 500;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text60 {
  color: rgba(253, 185, 19, 1);
  width: 113px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text62 {
  color: rgba(253, 185, 19, 1);
  width: 97px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text64 {
  color: rgba(253, 185, 19, 1);
  width: 162px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-text66 {
  color: rgba(253, 185, 19, 1);
  width: 100px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-link {
  gap: 10px;
  display: flex;
  padding: 12px 49px;
  align-items: center;
  border-color: rgba(253, 185, 19, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-unsigned-text68 {
  color: rgba(253, 185, 19, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 16.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-divnewcolumns6312408 {
  gap: 75px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.landing-page-unsigned-svg {
  width: 24px;
  height: 23px;
}
.landing-page-unsigned-text70 {
  color: rgba(255, 255, 255, 1);
  width: 115px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-svg1 {
  width: 23px;
  height: 18px;
}
.landing-page-unsigned-link1 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.landing-page-unsigned-text72 {
  color: rgba(255, 255, 255, 1);
  width: 154px;
  height: auto;
  font-size: 15.875px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 25.600000381469727px;
  font-stretch: normal;
  text-decoration: underline;
}
.landing-page-unsigned-link2 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.landing-page-unsigned-svg2 {
  width: 12px;
  height: 12px;
}
.landing-page-unsigned-link3 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.landing-page-unsigned-svg3 {
  width: 12px;
  height: 12px;
}
.landing-page-unsigned-link4 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.landing-page-unsigned-svg4 {
  width: 12px;
  height: 12px;
}
.landing-page-unsigned-link5 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.landing-page-unsigned-svg5 {
  width: 12px;
  height: 12px;
}
.landing-page-unsigned-link6 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.landing-page-unsigned-svg6 {
  width: 12px;
  height: 12px;
}
.landing-page-unsigned-divnewcolumns7312408 {
  gap: 24px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.landing-page-unsigned-link7 {
  display: flex;
  opacity: 0.70;
  padding: 0 40px;
  align-items: center;
  flex-direction: column;
}
.landing-page-unsigned-proudly-sa-whitepng {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.landing-page-unsigned-text74 {
  color: rgba(86, 109, 143, 1);
  width: 410px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 22.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page-unsigned-menus {
  gap: 24px;
  display: flex;
  align-items: center;
}
.landing-page-unsigned-text76 {
  color: rgba(127, 139, 147, 1);
  width: 360px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  text-decoration: underline;
}
.landing-page-unsigned-text78 {
  color: rgba(127, 139, 147, 1);
  width: 34px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  text-decoration: underline;
}
.landing-page-unsigned-text80 {
  color: rgba(127, 139, 147, 1);
  width: 75px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  text-decoration: underline;
}
