.view-treasures-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.view-treasures-view-treasures {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.view-treasures-header-signed {
  gap: 12px;
  width: 1440px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.view-treasures-header-logo {
  gap: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.view-treasures-imag-ebabe0ecf3ccc410faf1c05a53b7ee68a1 {
  width: 150px;
  height: 150px;
}
.view-treasures-header-name {
  gap: 10px;
  width: 491px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.view-treasures-text {
  color: rgba(0, 0, 0, 1);
  width: 491px;
  height: auto;
  font-size: 51px;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-header-links {
  width: 607px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.view-treasures-about-us {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.view-treasures-clickable-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-treasures-text02 {
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-eparrowdownbold {
  width: 27px;
  height: 25px;
}
.view-treasures-rules {
  gap: 10px;
  height: 150px;
  display: flex;
  padding: 55px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.view-treasures-text04 {
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-news {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.view-treasures-clickable-frame1 {
  display: flex;
  align-items: center;
}
.view-treasures-text06 {
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-eparrowdownbold1 {
  width: 27px;
  height: 25px;
}
.view-treasures-wishlist {
  width: 128px;
  height: 150px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.view-treasures-text08 {
  top: 56px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-burger-menubutton {
  gap: 10px;
  height: 150px;
  display: flex;
  padding: 47px 43px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.view-treasures-iconamoonmenuburgerhorizontalbold {
  width: 72px;
  height: 56px;
}
.view-treasures-title {
  gap: 10px;
  width: 1438px;
  height: 173px;
  display: flex;
  padding: 31px 67px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.view-treasures-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 41px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-searchandutility {
  gap: 10px;
  width: 1438px;
  height: 173px;
  display: flex;
  padding: 31px 67px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.view-treasures-search-frame {
  gap: 10px;
  display: flex;
  padding: 23px 30px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.view-treasures-search-bar {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(220, 220, 220, 1);
}
.view-treasures-text12 {
  color: rgba(0, 0, 0, 1);
  width: 726px;
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-filters-frame {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.view-treasures-type {
  gap: 10px;
  display: flex;
  padding: 15px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
}
.view-treasures-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-eparrowdownbold2 {
  width: 28px;
  height: 28px;
}
.view-treasures-location {
  gap: 10px;
  display: flex;
  padding: 21px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
}
.view-treasures-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-eparrowdownbold3 {
  width: 28px;
  height: 28px;
}
.view-treasures-view {
  gap: 10px;
  display: flex;
  padding: 21px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
}
.view-treasures-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Holtwood One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-eparrowdownbold4 {
  width: 28px;
  height: 28px;
}
.view-treasures-map-frame {
  gap: 10px;
  width: 1440px;
  height: 1024px;
  display: flex;
  padding: 50px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.view-treasures-map-frame1 {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  justify-content: center;
}
.view-treasures-footer {
  width: 1440px;
  height: 427px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 26, 64, 1);
}
.view-treasures-divctsectioninnerwrap {
  gap: 40px;
  top: 68px;
  left: 160px;
  width: 1120px;
  display: flex;
  padding: 0 22px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
}
.view-treasures-readytobeamember {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.view-treasures-text20 {
  color: rgba(255, 255, 255, 1);
  width: 327px;
  height: auto;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text22 {
  color: rgba(255, 255, 255, 0.699999988079071);
  width: 391px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-details-frame {
  gap: 58px;
  display: flex;
  align-items: flex-start;
}
.view-treasures-membership {
  gap: 13px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.view-treasures-text32 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 500;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text34 {
  color: rgba(253, 185, 19, 1);
  width: 142px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text36 {
  color: rgba(253, 185, 19, 1);
  width: 98px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text38 {
  color: rgba(253, 185, 19, 1);
  width: 105px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text40 {
  color: rgba(253, 185, 19, 1);
  width: 97px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text42 {
  color: rgba(253, 185, 19, 1);
  width: 129px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-proudly-south-african {
  gap: 13px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.view-treasures-text44 {
  color: rgba(255, 255, 255, 1);
  width: 174px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 500;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text46 {
  color: rgba(253, 185, 19, 1);
  width: 57px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text48 {
  color: rgba(253, 185, 19, 1);
  width: 69px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text50 {
  color: rgba(253, 185, 19, 1);
  width: 114px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text52 {
  color: rgba(253, 185, 19, 1);
  width: 35px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text54 {
  color: rgba(253, 185, 19, 1);
  width: 134px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-reports {
  gap: 13px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.view-treasures-text56 {
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 500;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text58 {
  color: rgba(253, 185, 19, 1);
  width: 113px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text60 {
  color: rgba(253, 185, 19, 1);
  width: 97px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text62 {
  color: rgba(253, 185, 19, 1);
  width: 162px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-text64 {
  color: rgba(253, 185, 19, 1);
  width: 100px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-link {
  gap: 10px;
  display: flex;
  padding: 12px 49px;
  align-items: center;
  border-color: rgba(253, 185, 19, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}
.view-treasures-text66 {
  color: rgba(253, 185, 19, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 16.799999237060547px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-divnewcolumns6312408 {
  gap: 75px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.view-treasures-svg {
  width: 24px;
  height: 23px;
}
.view-treasures-text68 {
  color: rgba(255, 255, 255, 1);
  width: 115px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-svg1 {
  width: 23px;
  height: 18px;
}
.view-treasures-link1 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.view-treasures-text70 {
  color: rgba(255, 255, 255, 1);
  width: 154px;
  height: auto;
  font-size: 15.875px;
  font-style: Regular;
  text-align: left;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 25.600000381469727px;
  font-stretch: normal;
  text-decoration: underline;
}
.view-treasures-link2 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.view-treasures-svg2 {
  width: 12px;
  height: 12px;
}
.view-treasures-link3 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.view-treasures-svg3 {
  width: 12px;
  height: 12px;
}
.view-treasures-link4 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.view-treasures-svg4 {
  width: 12px;
  height: 12px;
}
.view-treasures-link5 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.view-treasures-svg5 {
  width: 12px;
  height: 12px;
}
.view-treasures-link6 {
  gap: 10px;
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.699999988079071);
}
.view-treasures-svg6 {
  width: 12px;
  height: 12px;
}
.view-treasures-divnewcolumns7312408 {
  gap: 24px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px 0 0;
}
.view-treasures-link7 {
  display: flex;
  opacity: 0.70;
  padding: 0 40px;
  align-items: center;
  flex-direction: column;
}
.view-treasures-proudly-sa-whitepng {
  gap: 10px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  background-size: cover;
  background-image: url("/external/tq_fdxg934nag-f3kr-500h.png");
}
.view-treasures-text72 {
  color: rgba(86, 109, 143, 1);
  width: 410px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 22.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.view-treasures-menus {
  gap: 24px;
  display: flex;
  align-items: center;
}
.view-treasures-text74 {
  color: rgba(127, 139, 147, 1);
  width: 360px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  text-decoration: underline;
}
.view-treasures-text76 {
  color: rgba(127, 139, 147, 1);
  width: 34px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  text-decoration: underline;
}
.view-treasures-text78 {
  color: rgba(127, 139, 147, 1);
  width: 75px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Maven Pro;
  font-weight: 400;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  text-decoration: underline;
}
